# ---- GENERAL ----
ENVIRONMENT=development

# ---- AUTH SERVICE ----
AUTH_DB_URL=postgresql://postgres:postgres123@auth-db:5432/auth_db
SECRET_KEY=CHANGE_ME_USE_RANDOM_STRING_MIN_32_CHARS
TOKEN_EXPIRE_MINUTES=30

# ---- ITEM SERVICE ----
ITEM_DB_URL=postgresql://postgres:postgres123@item-db:5432/item_db
AUTH_SERVICE_URL=http://auth-service:8001

# ---- DATABASE ----
POSTGRES_PASSWORD=postgres123

# ---- FRONTEND ----
VITE_API_URL=http://localhost:8080